---
import { getCollection } from "astro:content";
import ImageCarousel from "../../components/ImageCarousel.svelte";
import Base from "@layouts/Base.astro";
export async function getStaticPaths() {
  const furniturePosts = await getCollection("podnosniki");

  return furniturePosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
---

<Base title={post.data.title}>
  <div
    class="max-w-sm mx-auto mb-20 p-6 bg-white border border-gray-200 rounded-lg shadow"
  >
    <ImageCarousel
      client:visible
      images={post.data.images}
      title={post.data.title}
      description={post.data.description}
    />
  </div>
</Base>
