---
import H1 from "@components/H1.svelte";
import Base from "@layouts/Base.astro";
import P from "@components/P.svelte";
---

<Base title="Janpol">
  <div
    class="py-10 bg-cover bg-center h-screen"
    style="background-image: url('/welder-janpol.avif');"
  >
    <H1 text="Janpol Metalprodukcja" />
    <P
      text="Naszą specjalizacją jest produkcja wyrobów metalowych dla przemysłu meblowego, takich jak mechanizmy wyjazdu, podnośniki meblowe, stelaże, ramy i nogi. Oferujemy wyroby malowane proszkowo, chromowane i cynkowane.Dzięki rozbudowanemu parkowi maszyn, możemy zaoferować produkcję elementów stalowych dla różnych branż. Wykonujemy części, podzespoły oraz konstrukcje dla przemysłu rolniczego,<br /> motoryzacyjnego czy budowlanego. Zapraszamy do siedziby naszej firmy, która<br /> znajduje się w Dębnie."
    />
  </div>
  <!-- <div class="text-4xl my-64">Placeholder for the rest of the site.</div> -->
</Base>
