---
import H1 from "@components/H1.svelte";
import P from "@components/P.svelte";
import Base from "@layouts/Base.astro";
---

<Base title="Kontakt">
  <div
    class="py-10 bg-cover bg-center h-screen"
    style="background-image: url('/blured-welder-janpol.jpg');"
  >
    <H1 text="Kontakt" />
    <P
      text="JANPOL Metalprodukcja oferuje Państwu szeroki asortyment wyrobów metalowych m. in.: okucia i metalowe ramy do mebli tapicerowanych, podnośniki, nogi itp. Zapraszamy do kontaktu telefonicznego z naszą firmą lub do skorzystania z formularza kontaktowego."
    />
  </div>
</Base>
