---
import Gallery from "@components/Gallery.svelte";
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const furniturePosts = await getCollection("mechanizmy-wyjazdu");
---

<Base title="Mechanizmy Wyjazdu">
  <div>
    {
      furniturePosts.map((post) => (
        <div>
          <Gallery post={post} />
        </div>
      ))
    }
  </div>
</Base>
