---
import Base from "@layouts/Base.astro";
---

<Base title="About">
  <section class="py-10 bg-white">
    <div class="container mx-auto px-12 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>
          <h2 class="text-3xl font-bold mb-5">Who We Are</h2>
          <p class="text-lg leading-relaxed mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc. Duis eget nunc
            malesuada, laoreet arcu vel, ultrices sem. Quisque sit amet orci in
            mauris finibus ornare non ac ante. Sed eu malesuada nisi.
          </p>
          <p class="text-lg leading-relaxed">
            Pellentesque posuere eros non sapien congue aliquam. Sed pharetra
            urna vel tellus faucibus posuere.
          </p>
        </div>
        <div class="flex justify-center items-center">
          <img
            class="w-full h-auto md:max-w-md"
            src="zlote-deby-laureaci.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container mx-auto px-12 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="flex justify-center items-center">
          <img class="w-full h-auto md:max-w-md" src="zloty-dab.jpg" alt="" />
        </div>
        <div>
          <h2 class="text-3xl font-bold mb-5">Our Mission</h2>
          <p class="text-lg leading-relaxed mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc. Duis eget nunc
            malesuada, laoreet arcu vel, ultrices sem. Quisque sit amet orci in
            mauris finibus ornare non ac ante. Sed eu malesuada nisi.
          </p>
          <p class="text-lg leading-relaxed">
            Pellentesque posuere eros non sapien congue aliquam. Sed pharetra
            urna vel tellus faucibus posuere.
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
