---
import H1 from "@components/H1.svelte";
import P from "@components/P.svelte";
import Base from "@layouts/Base.astro";
---

<Base title="About">
  <div
    class="py-10 bg-cover bg-center h-screen"
    style="background-image: url('/blured-welder-janpol.jpg');"
  >
    <H1 text="O nas" />
    <P
      text="Firma JANPOL Metalprodukcja to rodzinne przedsiębiorstwo produkcyjne, które powstało w 1978 roku w Dębnie i od początku swojej działalności zajmuje się produkcją elementów oraz konstrukcji ze stali."
    />
    <P
      text="Nasze doświadczenie w branży sprawia, że jesteśmy w stanie zaoferować produkty oraz usługi na najwyższym poziomie. Przez 34 lata istnienia firmy wykonywaliśmy wyroby metalowe dla klientów z różnych branż, zarówno dla odbiorców indywidualnych jak i instytucjonalnych. Były to podzespoły dla rolnictwa, techniki grzewczej, motoryzacji oraz dla przemysłu meblowego i budowlanego."
    />
    <P
      text="Podczas ostatnich 12 lat naszą specjalizacją stała się produkcja okuć i akcesoriów do mebli tapicerowanych (np. podnośników meblowych) oraz konstrukcji wg indywidualnego projektu klienta. Posiadamy własną narzędziownię, co jest naszym ogromnym atutem. Dzięki temu jesteśmy w stanie błyskawicznie przygotować produkcję nowych elementów wg wymagań kontrahenta. Dysponujemy również własną flotą transportową. Nasza firma zatrudnia jedynie profesjonalnych fachowców z dużym doświadczeniem i wysokimi kwalifikacjami, co pozwala na utrzymanie wysokich standardów produkcji oraz terminowe i rzetelne wykonywanie zleceń."
    />
  </div>
</Base>
