---
import Base from "@layouts/Base.astro";
---

<Base title="About">
  <section class="py-10 bg-white">
    <div class="container mx-auto px-12 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>
          <h1
            class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-500 pb-12"
          >
            O nas
          </h1>
          <p class="text-lg leading-relaxed mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc. Duis eget nunc
            malesuada, laoreet arcu vel, ultrices sem. Quisque sit amet orci in
            mauris finibus ornare non ac ante. Sed eu malesuada nisi.
          </p>
          <p class="text-lg leading-relaxed">
            Pellentesque posuere eros non sapien congue aliquam. Sed pharetra
            urna vel tellus faucibus posuere.
          </p>
        </div>
        <div class="flex justify-center items-center">
          <img
            class="w-full h-auto md:max-w-md"
            src="/zlote-deby-laureaci.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container mx-auto px-12 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="flex justify-center items-center">
          <img class="w-full h-auto md:max-w-md" src="/zloty-dab.jpg" alt="" />
        </div>
        <div>
          <h1
            class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-500 pb-12"
          >
            Co robimy
          </h1>
          <p class="text-lg leading-relaxed mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc. Duis eget nunc
            malesuada, laoreet arcu vel, ultrices sem. Quisque sit amet orci in
            mauris finibus ornare non ac ante. Sed eu malesuada nisi.
          </p>
          <p class="text-lg leading-relaxed">
            Pellentesque posuere eros non sapien congue aliquam. Sed pharetra
            urna vel tellus faucibus posuere.
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
