---
import H1 from "@components/H1.svelte";
import P from "@components/P.svelte";
import Base from "@layouts/Base.astro";
---

<Base title="Park Maszynowy">
  <div
    class="py-10 bg-cover bg-center h-screen"
    style="background-image: url('/blured-welder-janpol.jpg');"
  >
    <H1 text="Park maszynowy" />
    <P
      text="Rozbudowany park maszynowy firmy Janpol, obejmuje profesjonalne maszyny, pozwalające na kompleksową produkcję wyrobów metalowych. Posiadamy: giętarkę do rur, profili, blach, gilotynę, piły taśmowe, tokarkę, różnego rodzaju maszyny spawalnicze, prasy hydrauliczne i mimośrodowe oraz malarnię proszkową. Oferujemy gięcie rur CNC, malowanie proszkowe metalu, cięcie metali, spawanie, tłoczenie i toczenie. Szczegóły oferty znajdują się poniżej."
    />
    <div class="flex justify-center">
      <img src="park-maszynowy/CNC50BR2-removebg-preview.png" />
    </div>
  </div>
</Base>
