---
import Base from "@layouts/Base.astro";
---

<Base title="Park maszynowy">
  <section class="py-10 bg-white">
    <div class="container mx-auto px-12 py-24 text-center">
      <h2 class="text-3xl font-bold mb-10">Park maszynowy</h2>
      <p class="text-lg leading-relaxed mb-20">
        Rozbudowany park maszynowy firmy Janpol, obejmuje profesjonalne maszyny,
        pozwalające na kompleksową produkcję wyrobów metalowych. Posiadamy:
        giętarkę do rur, profili, blach, gilotynę, piły taśmowe, tokarkę,
        różnego rodzaju maszyny spawalnicze, prasy hydrauliczne i mimośrodowe
        oraz malarnię proszkową. Oferujemy gięcie rur CNC, malowanie proszkowe
        metalu, cięcie metali, spawanie, tłoczenie i toczenie. Szczegóły oferty
        znajdują się poniżej.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/oferta-giecie.jpg" alt="oferta-gięcia" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Gięcie metali CNC</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            Gięcie różnych promieni w jednym detalu oraz rolowania w jednym
            cyklu gięcia. Obsługiwane przekroje: rura max 38x2 profil kwadratowy
            max 25x25x2 profil owalny max 38x35x2 pręt okrągły fi 22 pręt
            kwadratowy 15x15
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img
              src={"/oferta_ciecie.jpg"}
              alt={"cięcie-metali-CNC"}
              class="mb-6"
            />
          </div>
          <h3 class="text-lg font-bold m-2">Cięcie metali CNC</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            cięcie na gilotynach grubość maksymalna 8mm szerokość maksymalna
            2000 mm
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/oferta_ciecie2.jpg" alt="cięcie-metali" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Cięcie metali</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            cięcie na piłach taśmowych: maksymalna wysokość cięcia 300mm
            maksymalna szerokość cięcia 300mm
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/oferta_spawanie.jpg" alt="spawanie" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Spawanie</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            spawanie metodą MIG-MAG spawanie metodą TIG spawanie aluminium
            spawanie stali nierdzewnej
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/oferta_tloczenie.jpg" alt="tłoczenie" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Tłoczenie</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            tłoczenie elementów na prasach hydraulicznych i mimośrodowych od 8
            do 160 T.
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/oferta_toczenie.jpg" alt="toczenie" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Toczenie</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc.
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img
              src="/oferta_malowanie_proszkowe.jpg"
              alt="malowanie-proszkowe"
              class="mb-6"
            />
          </div>
          <h3 class="text-lg font-bold mb-2">Malowanie proszkowe</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut
            felis tincidunt, tempor enim et, bibendum nunc.
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img
              src="/oferta_stanowisko_spawalnicze.jpg"
              alt="stanowisko-spawalnicze"
              class="mb-6"
            />
          </div>
          <h3 class="text-lg font-bold mb-2">
            Zrobotyzowane stanowisko spawalnicze
          </h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            Robot Arc Mate 120iC/12L Źródło Fronius TPSi 400 CMT MIG/MAG Palnik
            MTB 330i W R Fronius Rozstaw między tarczami do mocowania: 2200mm
            Średnica obracania: 1200mm Udźwig jednego stołu: 350 kg (wraz z
            detalem i przyrządem) Zasięg maksymalny w poziomie: 2000 mm
          </p>
        </div>
        <div class="bg-gray-100 p-8 fade-in">
          <div class="flex justify-center">
            <img src="/3D-R100.jpg" alt="drut-3D" class="mb-6" />
          </div>
          <h3 class="text-lg font-bold mb-2">Giętarka do drutu 3D</h3>
          <p class="text-gray-700 text-sm leading-relaxed mb-6">
            średnica pręta 3-13 mm gięcie różnych promieni w jednym procesie
            wysoka wydajność wysoka precyzja
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
<style>
  .fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .fade-in:nth-child(1) {
    animation-delay: 0.2s;
  }

  .fade-in:nth-child(2) {
    animation-delay: 0.4s;
  }

  .fade-in:nth-child(3) {
    animation-delay: 0.6s;
  }
  .fade-in:nth-child(4) {
    animation-delay: 0.8s;
  }

  .fade-in:nth-child(5) {
    animation-delay: 1s;
  }

  .fade-in:nth-child(6) {
    animation-delay: 1.2s;
  }
  .fade-in:nth-child(7) {
    animation-delay: 1.4s;
  }

  .fade-in:nth-child(8) {
    animation-delay: 1.6s;
  }

  .fade-in:nth-child(9) {
    animation-delay: 1.8s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, 10%);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
</style>
