---
import H1 from "@components/H1.svelte";
import P from "@components/P.svelte";
import Base from "@layouts/Base.astro";
---

<Base title="Realizacje">
  <div
    class="py-10 bg-cover bg-center h-screen"
    style="background-image: url('/blured-welder-janpol.jpg');"
  >
    <H1 text="Realizacje" />
    <P
      text="Poniższe zdjęcia obrazują możliwości produkcyjne firmy Janpol. Duża część produkcji opiera się na elementach giętych z rur. Wykonujemy okucia do mebli tapicerowanych: ramy metalowe do mebli, stelaże do sof, foteli, biurek oraz wiele innych wyrobów z metalu."
    />
  </div>
</Base>
