---
import Gallery from "@components/Gallery.svelte";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const furniturePosts = await getCollection("mechanizmy-wyjazdu");

  return furniturePosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<h1>
  {post.data.title}
</h1>
<p>
  {post.data.description}
  <Gallery post={post} />
</p>
