---
import { getCollection } from "astro:content";
import ImageCarousel from "../../components/ImageCarousel.svelte";
export async function getStaticPaths() {
  const furniturePosts = await getCollection("nogi");

  return furniturePosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
---

<div
  class="max-w-sm mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow"
>
  <ImageCarousel client:load images={post.data.images} />
</div>
